.page.theme_dark {
  --accent-color: #ff0070;
  --text-main-color: #f1b2ce;
  --button-list-color: #ff0070;
  --button-list-hover-color: rgba(255, 0, 112, 0.4);
  --subtitle-color: #ff0070;
  --corner-color: #ff0070;
  --rec-element-color: #ff0070;
  --title-decor: #ff0070;
  --background-color: #000028;
  --heading-text-color: #000028;
  --header-color: #db00ff;
  --footer-color: #db00ff;
  --unique-decoration-color: #f1b2ce;
  --shadow-color: #ff0070;
  background-image: url(../images/cover-image-dark.png);
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: #ff0070;
    --text-main-color: #f1b2ce;
    --button-list-color: #ff0070;
    --button-list-hover-color: rgba(255, 0, 112, 0.4);
    --subtitle-color: #ff0070;
    --corner-color: #ff0070;
    --rec-element-color: #ff0070;
    --title-decor: #ff0070;
    --background-color: #000028;
    --heading-text-color: #000028;
    --header-color: #db00ff;
    --footer-color: #db00ff;
    --unique-decoration-color: #f1b2ce;
    --shadow-color: #ff0070;
  }
}