body {
  background-color: var(--background-color);
}

.rec-element {
  position: absolute;
  top: 14px;
  right: 19px;
  color: var(--rec-element-color);
  text-align: center;
  font-family: var(--font-family);
  font-size: var(--text-font-size);
  font-style: normal;
  font-weight: 400;
  line-height: var(--text-font-size);
  text-transform: uppercase;
}

.rec-element::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-bottom: 1px;
  margin-left: 10px;
  border-radius: 50%;
  background-color: var(--rec-element-color);
  box-shadow: 0 0 4px 2px var(--rec-element-color);
  fill: var(--rec-element-color);
}

button {
  cursor: pointer;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  justify-items: end;
  min-height: 668px;
  height: 100vh;
  padding: 10px;
}

.decorated-element::before,
.decorated-element::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
}

.decorated-element::before {
  top: 10px;
  right: 10px;
  border-top: 1px solid var(--corner-color);
  border-right: 1px solid var(--corner-color);
}

.decorated-element::after {
  bottom: 10px;
  left: 10px;
  border-bottom: 1px solid var(--corner-color);
  border-left: 1px solid var(--corner-color);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;
  list-style-type: none;
}

.header__theme-menu-item:hover {
  outline: 1px solid var(--button-list-hover-color);
}

.header__theme-menu-button {
  padding: 2px 13px 4px;
  border: none;
  background: none;
  color: var(--button-list-color);
  font-family: var(--font-family);
  font-size: var(--text-font-size);
  font-style: normal;
  font-weight: 400;
  line-height: var(--text-font-size);
  text-transform: lowercase;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--button-list-color);
  pointer-events: none;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  box-shadow: 0 1px 0 var(--button-list-color);
}

.header__topic-name {
  color: var(--header-color);
  font-family: var(--font-family);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--shadow-color);
}

.header__topic-description {
  color: var(--heading-text-color);
  font-family: var(--font-family);
  font-size: var(--text-font-size);
  font-style: normal;
  font-weight: 700;
  line-height: var(--text-line-height);
  background-color: var(--title-decor);
}

main {
  padding: 0 10px;
}

.why {
  display: grid;
}

.section__header {
  margin-top: 41px;
  margin-bottom: 20px;
  color: var(--subtitle-color);
  font-family: var(--font-family);
  font-size: var(--text-font-size);
  font-style: normal;
  font-weight: 700;
  line-height: var(--text-line-height);
}

article {
  margin-bottom: 21px;
}

article:last-of-type {
  margin-bottom: 0;
}

.what__template {
  padding-top: var(--small-gap);
}

.section__sub-header {
  margin: 0 0 10px;
  color: var(--heading-text-color);
  font-family: var(--font-family);
  font-size: var(--text-font-size);
  font-style: normal;
  font-weight: 700;
  line-height: var(--text-line-height);
  background-color: var(--title-decor);
}

.section__text {
  padding-bottom: 20px;
  color: var(--text-main-color);
  font-family: var(--font-family);
  font-size: var(--text-font-size);
  font-style: normal;
  font-weight: 400;
  line-height: var(--text-line-height);
}

.section__text:last-of-type {
  padding-bottom: 0;
}

.link-unique {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
  cursor: pointer;
}

.link-unique:hover {
  border-bottom: 1px solid var(--unique-decoration-color);
}

.link-unique:focus {
  outline: none;
}

.link-unique:focus-visible {
  outline: 1px solid var(--unique-decoration-color);
}

.what {
  display: grid;
}

.how {
  display: grid;
}

.how-template {
  padding-top: var(--small-gap);
}

.section__how-advice {
  margin-bottom: 20px;
  color: var(--heading-text-color);
  font-family: var(--font-family);
  font-size: var(--text-font-size);
  font-style: normal;
  font-weight: 700;
  line-height: var(--text-line-height);
  background-color: var(--title-decor);
}

.how-differences {
  margin-bottom: 12px;
  font-weight: 400;
}

.image-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.image-section__header {
  margin-top: 50px;
  color: var(--heading-text-color);
  font-family: var(--font-family);
  font-size: var(--text-font-size);
  font-style: normal;
  font-weight: 700;
  line-height: var(--text-line-height);
  background-color: var(--title-decor);
}

.image-section__body {
  display: grid;
}

.image-section__element {
  inline-size: 100%;
  gap: 10px;
}

.footer {
  position: relative;
  display: grid;
  place-items: center;
  min-height: 668px;
  height: 100vh;
  margin-top: 40px;
}

.footer__title {
  position: relative;
  display: flex;
  justify-self: center;
  align-self: center;
  justify-content: center;
  color: var(--footer-color);
  font-family: var(--font-family);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--shadow-color);
}

@media (width >= 768px) {
  .rec-element {
    top: 24px;
    right: 29px;
  }

  .header {
    padding: 20px 20px 20px 0;
  }

  .decorated-element::before {
    top: 20px;
    right: 20px;
  }

  .decorated-element::after {
    bottom: 20px;
    left: 20px;
  }

  .header__topic-name {
    justify-self: start;
  }

  .header__grid-template {
    display: grid;
    grid-template-columns: 49%;
    justify-content: end;
  }

  main {
    padding: 0 20px;
  }

  .why {
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
    margin: 60px 0 20px;
  }

  .section__header {
    margin-top: 0;
  }

  .what__template {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
    margin-top: 63px;
    padding-top: 0;
  }

  .how {
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
    margin-top: 84px;
  }

  .how-template {
    padding: 0;
  }

  .image-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 100%;
    margin-top: 77px;
  }

  .image-section__header {
    grid-column: span 3;
    margin-top: 0;
    margin-bottom: 0;
  }

  .image-section__element {
    block-size: 100%;
    object-fit: cover;
  }

  .image-section__element-sunset {
    grid-column: span 2;
  }

  .image-section__element-ice-cream {
    grid-row: span 2;
  }

  .image-section__element-tape {
    grid-row: span 2;
  }

  .image-section__element-street {
    grid-column: span 2;
  }

  .image-section__element-books {
    grid-column: 2;
    grid-row: 3;
  }

  .footer {
    margin-top: 60px;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .header__theme-menu-list {
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding-left: 20px;
  }

  .header__topic-name {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__grid-template {
    grid-template-columns: 64%;
  }

  .why {
    column-gap: 10px;
    margin: 60px 0 18px;
  }

  .section__topic {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
  }

  .how {
    column-gap: 10px;
    margin-top: 83px;
  }

  .image-section {
    margin-top: 76px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

.page {
  background-color: var(--background-color);
  background-image: url(../images/cover-image-dark.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}